@keyframes latido {
    from{
        transform: scale(1);

    }    
    to{
        transform: scale(1.5);
    }
}
:root{
    scroll-behavior: smooth;
    --primary-theme-color: crimson;
    --secondary-theme-color: magenta;
    --primary-success-color: lightseagreen;
    --secondary-success-color: aquamarine;
    --primary-warning-color: gold;
    --secondary-warning-color: yellow;
    --primary-info-color: royalblue;
    --secondary-info-color: dodgerblue;
    --tertiary-info-color: cyan;
    --primary-background-color: #16181d;
    --primary-text-color: white;
    --primary-font-family: monospace;
    --max-width: 1024px;
    --element-spacing: 2rem;
    --element-size: 1rem;
}
.body {
    margin: 0;
    background-color: var(--primary-theme-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
}
.hero{
    min-height: 100vh;
    display: flex;
    background-image: radial-gradient(transparent, var(--primary-background-color));
}
.hero__tittle{
    font-size: calc(var(--element-size) * 2.5);
    animation: latido 1s ease-in-out 0s infinite alternate;
}
.hero__name{
    all: unset;
    display: flex;
    cursor: pointer;
    gap: calc(var(--element-spacing) * 0.25);
}
 .hero__letter{
    position: relative;
 }
 .hero__letter:nth-child(1) {
    color: var(--secondary-success-color);
  }  
  .hero__letter:nth-child(2) {
    color: var(--secondary-info-color);
  }  
  .hero__letter:nth-child(3) {
    color: var(--secondary-warning-color);
  }  
  .hero__letter:nth-child(4) {
    color: var(--secondary-theme-color);
  }  
  .hero__letter:nth-child(5) {
    color: var(--tertiary-info-color);
  }  
  .hero__letter:nth-child(6) {
    color: var(--primary-success-color);
  } 
  .hero__letter:nth-child(7) {
    color: var(--primary-info-color);
  }
  .hero__letter:nth-child(8) {
    color: var(--primary-warning-color);
  }

.hero__letter::before{
    content: var(--letter);
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.25);
    filter: blur(calc(var(--element-size) * 0.25));
}
.hero__letter::after{
    content: var(--letter);
    position: absolute;
    top: 87.5%;
    left: 0;
    transform: rotatex(135deg);
    filter: blur(calc(var(--element-size) * 0.125));
}
.acrostic{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-image: radial-gradient(transparent, var(--primary-background-color));
}
.acrostic__stanza{
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    gap: calc(var(--element-spacing) * 0.5);
}
.acrostic__verse{
    font-weight: 700;
    text-shadow: 
    0 0 calc(var(--element-size) * 0.25) var(--tertiary-info-color),
    0 0 calc(var(--element-size) * 0.5) var(--tertiary-info-color);
}
.acrostic__verse::first-letter{
    font-size: calc(var(--element-size) * 1.5);
}
.container{
    margin: 0 auto;
    max-width: var(--max-width);
    padding-right: calc(var(--element-spacing) * 0.5);
    padding-left: calc(var(--element-spacing) * 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}